.about-container {
  padding: clamp(64px, 6vw, 96px) /* Верхний отступ */ clamp(24px, 3vw, 48px)
    /* Правый отступ */ clamp(48px, 4vw, 64px) /* Нижний отступ */
    clamp(24px, 3vw, 48px); /* Левый отступ */
}
.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(16px, 2vw, 24px);
  padding: 0 clamp(0px, 6vw, 114px);
}
.about-text p {
  font-family: "Montserrat";
  color: var(--gold150);
  font-size: 20px;
  font-weight: 400;
  padding: 0 16px;
  margin-bottom: 24px;
  line-height: normal;
}
.about-image {
  position: relative;
  width: 546px;
  height: 550px;
}
.about-image img:nth-child(1) {
  position: absolute;
  max-width: 340px;
  max-height: 480px;
  top: 0;
  left: 0;
}
.about-image img:nth-child(2) {
  position: absolute;
  max-width: 320px;
  max-height: 280px;
  bottom: 0;
  right: 0;
}

@media (max-width: 1024px) {
  #about, #about-en {
    position: relative;
    padding-top: 72px; /* Отступ для контента */
    margin-top: -72px; /* Компенсация для якорной ссылки */
  }
  .about-content {
    padding: 0;
  }
  .about-image {
    max-width: 478px;
  }
  .about-text p {
    padding: 0;
  }
}

@media (max-width: 924px) {
  .about-container {
    padding: 32px 16px 24px 16px;
  }
  .about-content {
    display: grid;
    grid-template-columns: 1fr;
  }
  .about-text p {
    margin-bottom: 16px;
    font-size: 15px;
  }
  .about-image {
    position: relative;
    display: flex;
    width: 343px;
    height: 229px;
  }
  .about-image img:nth-child(1) {
    position: absolute;
    width: 164px;
    max-height: 229px;
  }
  .about-image img:nth-child(2) {
    position: absolute;
    width: 169px;
    max-height: 148px;
    right: 0;
  }
}

@media (max-width: 400px) {
  #about, #about-en {
    position: relative;
    padding-top: 72px; /* Отступ для контента */
    margin-top: -72px; /* Компенсация для якорной ссылки */
  }
  .about-content {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 0px;
  }

  .about-image {
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    margin-top: 8px;
  }

  .about-image img:nth-child(1),
  .about-image img:nth-child(2) {
    position: static;
  }

  .about-image img:nth-child(1) {
    width: 164px;
    height: 229px;
  }

  .about-image img:nth-child(2) {
    width: 169px;
    height: 148px;
    position: absolute;
    padding-left: 10px;
  }
}

@media (max-width: 375px) {
  .about-image img:nth-child(1) {
    padding-right: 10px;
  }

  .about-image img:nth-child(2) {
    padding-left: 10px;
  }
}
