<div class="_container">

   <div class="questions-container">
    
       <h2 class="questions-header">Почему Грузия?</h2>

       <div class="swiper-container">
           <div class="swiper-wrapper">
               <div class="swiper-slide">
                   <div class="swiper-slide-card">
                       <span class="swiper-slide-card-number">01</span>
                       <h3><b>Минимальные сроки</b></h3>
                       <p>Брак можно заключить всего за один день без длительного ожидания.</p>
                   </div>
               </div>
               <div class="swiper-slide">
                   <div class="swiper-slide-card">
                       <span class="swiper-slide-card-number">02</span>
                       <h3>Международное признание</h3>
                       <p>Свидетельство о браке с апостилем, признано более чем в 100 странах.</p>
                   </div>
               </div>
               <div class="swiper-slide">
                   <div class="swiper-slide-card">
                       <span class="swiper-slide-card-number">03</span>
                       <h3>Без визовых ограничений</h3>
                       <p>Для граждан многих стран не требуется виза для посещения Грузии.</p>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>

